/*----------Navbar-------------*/

.navbar-default  {
	background-color: #72bf00; 
}

.navbar-brand {
	padding-bottom: 3px;
	padding-top: 3px;
}


ul {
	display: inline;
}
/*---------typography-----------*/

html, body{
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	color: #222;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', sans-serif;
}

ul {
 	list-style: none;
 	
 }

 /*-----footer-------*/


 footer {
	font-size: 14px;
	font-weight: light;
	background-color: #72bf00;
}

footer p {
	padding-top: 12px;
}

